
html, body {
	margin: 0;
	padding: 0;
	border: 0;
	background: rgb(220,223,227);
}

.outer {
	width: 1024px;
	margin: 0 auto;
	background: url(/images/background.jpg) center repeat-y;
}

.main {
	width: 944px;
	margin: 0 40px;
}

.inner {
	background-color: rgb(228,228,255);
	border: 1px solid #C0C0E0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px;
	margin-top: 5px;
	min-height: 500px;
}

.inner h1,
.inner h2,
.inner h3,
.inner h4 {
	color: #44A
}

.inner h1 {
	margin: 3px;
}

.head {
	height: 82px;
	margin: 0;
	color: white;
	font-family: sans-serif;
}

.head h1 {
	text-align: center;
	margin: 0px 0px 5px 0px;
	padding: 5px 10px;
	color: #E4E4FF;
	background-color: rgb(32,32,128);
	border-radius-bottomleft: 5px;
	border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}

.head .menu {
	background-color: rgb(32,32,128);
	padding: 0 5px;
	height: 29px;
	margin-bottom: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.head ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.head ul li {
	float: left;
	border-right: 1px solid grey;

}
.head ul li a {
	text-decoration: none;
	color: white;
	padding: 5px;
	display: block;
	height: 100%;
	width: 100%;
}

.footer {
	text-align: center;
	font-size: 0.8em;
	padding: 10px 0;
	font-family: sans-serif;
}

div.line {
	clear: both;
}
div.category {
	float: left;
	width: 40em;
}
div.space   {
	white-space: pre;
	float: left;
}
div.space4  { margin-left:  2em; }
div.space8  { margin-left:  4em; }
div.space12 { margin-left:  6em; }
div.space16 { margin-left:  8em; }
div.space20 { margin-left: 10em; }
div.space24 { margin-left: 12em; }

table.c1 {
	display: table;
}

table.question {
	margin: 10px;
	background-color: rgb(210, 255, 210);
	width: 600px;
	display: none;
    border: 1px solid silver;
}

table.question th,
table.question td {
	background-color: rgb(170, 220, 170);
	margin: 3px;
	padding: 5px;
}

table.question td {
	width: 24px;
	background-image: none;
	background-repeat: no-repeat;
	background-position: 2px 2px;
}
table.question td.tick {
	background-image: url(/images/tick.png);
}
table.question td.cross {
	background-image: url(/images/cross.png);
}

table.question td + td {
	width: 550px;
	background-image: none;
}

table.stage {
	width: 600px;
	margin: 0px 10px;
	padding: 0px 1px;
}

table.next {
	display: none;
	width: 600px;
	margin: 0px 10px;
	padding: 0px 1px;
}

table.next td.next {
	text-align: right;
}

table.next td.prev {
	text-align: left;
}
